body {
    width: 95%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(34, 34, 34);
    font-family: poppinsregular;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    box-shadow: 5px 5px 10px rgb(34, 34, 34);
    justify-content: flex-start; /* Align content to the left */
    padding-left: 20px; /* Add left padding to shift content to the left */
}

/* ... other CSS rules ... */

.form-image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: rgb(34, 34, 34);
}
.form-image img {
    width: 25rem;   
}

.form{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(34, 34, 34);
    padding: 3rem;
}
.form-header{
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
     
}

.title h1 {
    font-size: 40px;
    font-weight: 200;
    color: #C56812; /* Set the title color to white */
}


.login-button{
    display: flex;
    align-items: center;
}

.login-button a{
    color:#C56812;
    text-decoration: none;
}


.login-button button{
    font-family: poppinsregular;
    background-color: rgb(34, 34, 34);
    border: 2px solid #C56812;
    padding: 10px;
    border-radius: 15px;

}
.login-button :hover {
    color: white;
    background-color: #C56812;
}
.form-header h1::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background: #C56812;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}
.input-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.1rem;
}
.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}
.input-box input{
    margin: 0.6rem 0.9;
    padding: 0.8rem 1;
    border: none;
    border-radius: 6px;
    box-shadow: 1px 1px 6px #0000001c;
}
.input-box input:hover{
    background-color: #eeeeee75;
}

.input-box input:focus-visible{
    outline: 1px solid #C56812;
}  
.input-box label,
.gender-title h6{
    font-size: 0.75rem;
    font-weight: 600;
    color: #C56812;
}

.input-box input::placeholder{
    color: #575555c5;
}

.gender-group{
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0.05rem;
}
.gender-input{
    display: flex;
    align-items: center;
}

.gender-input input{
     margin-right: 0.35rem;
}

.gender-input label{
    font-size: 0.85rem;
    font-weight: 600;
    color: #C56812;
}
.continue-button button{
    font-family: poppinsbold;
    width: 50%;
    padding: 16px 0px;
    margin: 25px auto;
    border: none;
    border-radius: 8px;
    outline: none;
    font-weight: 800;
    background-color: #C56812;
    color: beige;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #C56812;
    
}
.continue-button a{
    text-decoration: none;
    color: beige
}

